* {
  box-sizing: border-box;
}

:root {
  padding: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #fffb0f;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s linear;
}

button:hover {
  background-color: #449eff;
}
